<!DOCTYPE html>
<html>
  <head>
    <title>Movies List</title>
  </head>

  <body>
  <table>
    <tr>
      <td>Title</td>
      <td>Year</td>
      <td>Rating</td>
      <td>Genre</td>
      <td>Studio</td>
    </tr>

    <% movies_list.each do |hash| %>
    <tr>
      <td><a href="/movies/<%= hash["id"] %>"><%= hash["title"]%></a></td>
      <td><%= hash["year"] %></td>
      <td><%= hash["rating"]%></td>
      <td><%= hash["genre"]%></td>
      <td><%= hash["studio"]%></td>
    </tr>
    <% end %>


  </table>
  </body>
</html>
